html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 1px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: inherit;
  margin: inherit;
  font-family: inherit;
  letter-spacing: inherit;
}

.header_container {
  display: flex;
  min-width: fit-content;
  gap: 10%;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  margin: 0 20px;
}

.header_container a {
  min-width: 10%;
}

.header_container .search_form {
  min-width: 20%;
  display: flex;
  margin: 0;
}

.header_container .search_form input {
  flex: 1;
  margin: 0;
}

.header_container .search_container {
  display: flex;
  gap: 10px;
}