html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 1px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: inherit;
  margin: inherit;
  font-family: inherit;
  letter-spacing: inherit;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: 0 20px;
}

.header_container a {
  width: 30%;
}

.header_container .search_form {
  width: 30%;
  display: flex;
  margin: 0;
}

.header_container .search_form input {
  flex: 1;
  margin: 0;
}

.header_container .login_form {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header_container .login_form input {
  align-self: flex-end;
  width: 30%;
}

.header_container .login_form label {
  align-self: flex-end;
  width: 30%;
}